<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="search" placeholder="masukan kata kunci">
        </form>
	    <ul >
	        <li v-for ="book in filteredBooks" :key="book">
	            {{book}}
	        </li>
	    </ul>
    </div>

 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var vm = new Vue({
            el : '#app',
            data : {
              
                books : [
                   'Kalkulus dasar',
                   'Fisika dasar',
                   'Aljabar Linear Elementar',
                   'Aljabar Abstrack',
                   'Algoritma Pemograman',
               ],
                search:''
            }, 
             computed: {
                 filteredBooks: function () {
                   return this.books.filter((book) => {
                     return book.toLowerCase().match(this.search)
                   });
                 }
             }
            
               
        }) 
    </script>
</body>
</html>