<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div id="app">

        <form action="" >
                <input type="text" v-model="input.name" id="name">
                <button type="submit" @click="add" >add</button>
        </form>
       
        <div v-show="user.length"></div>
        <ul>
            <li v-for="user in user"  >{{user.name}} 
            <button type="submit" @click="edit(name)" >edit</button>
            <a href="#!" @click="deplete(index)" >delete</a>

            </li> 
        </ul>
       
        </div>
    </div>
    
    
 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
 <script>
    var vm = new Vue({
       el: '#app',
  data: {
    user: [{
      name: "muhammad iqbal mubarak",
   
    }, {
      name: "dzaki",
     
    }, {
      name: "taqy",
    
    },
    ],
    bin: [],
    input: {
      name: "",
    },
    editInput: {
      name: "",
    }
  },
  
  methods: {
    //function to add data 
    add: function() {
      this.user.push({
        name: this.input.name,
      });
    },

    // update: function(){
    //   // this.persons.push(this.editInput);
    //   this.user.push({
    //     name: this.editInput.name,
    //   });
    //   for (var key in this.editInput) {
    //     this.editInput[key] = '';
    //   }
    //   this.name.sort(ordonner);
      
    // },
 
    //function to defintely delete data 
    deplete: function(index) {
      // console.log(this.bin[index]);
      this.bin.splice(index, 1);
    }

    }
 })
 $(function() {
  //initialize modal box with jquery
  $('.modal').modal();
}); 
   </script>
</body>
</html>